:root{
    --color-primary: rgb(34, 141, 235);
    --color-secondary: rgb(194, 224, 249);
    --color-accent: rgb(255,179,71);
    --color-background: rgb(185, 185, 185);
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
    display:grid;
    grid-template-columns: 200px 1fr;
}

.sidebar{
    background-color: var(--color-primary);
    height: 100vh;
}

.logo{
    display: flex;
    flex-grow: 0;
}

.logo img{
    align-self: center;
}

.side-links-top{
    margin-bottom: 50px;
}

.main-body, .main-header{
    padding-left: 50px;
}

.main-header{
    display: grid;
    background-color: var(--color-secondary);
    padding-right: 50px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search{
    border-radius: 25px;
    border-style: none;
    width: 400px;
}

.header-profile-image{
    height: 40px;
}

.header-profile-name{
    font-weight: bold;
}

.main-img-username{
    height: 75px;
}

button{
    font-weight: bold;
    font-size: 15px;
    background-color: var(--color-primary);
    color: white;
    border-style: none;
    border-radius: 30px;
    padding: 15px 40px
}

.main-body{
    background-color: var(--color-background);
}

ul{
    list-style: none;
    padding-left: 20px;
}

li {
    display: flex;
    padding: 5px;
    align-items: center;
}

li img{
    padding-right: 10px;
}

h2{
    font-weight: bold;
    color: White;
}

a{
    font-weight: bold;
    color: White;
    text-decoration: none;
}