:root{
    --color-primary: rgb(34, 141, 235);
    --color-secondary: rgb(194, 224, 249);
    --color-accent: rgb(255,179,71);
    --color-background: rgb(209, 209, 209);
    --color-shadow: rgb(185, 185, 185)
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
    display:grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

.main{
    display: grid;
    grid-template-rows: min-content 1fr;
}

.header, .content{
    padding-right: 40px;
    padding-left: 40px;
}

.sidebar{
    background-color: var(--color-primary);
    height: 100%;
}

.logo{
    display: flex;
    flex-grow: 0;
}

.logo img{
    align-self: center;
}

.side-links-top{
    margin-bottom: 50px;
}

ul{
    list-style: none;
    padding-left: 20px;
}

li {
    display: flex;
    padding: 5px;
    align-items: center;
}

li img{
    padding-right: 10px;
}

.sidebar h2{
    font-weight: bold;
    color: White;
}

li a{
    font-weight: bold;
    color: White;
    text-decoration: none;
}

.header{
    display: grid;
    background-color: var(--color-secondary);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 3px solid var(--color-shadow);

}

.search-container{
    display: flex;
    align-items: center;
}

.search-input{
    border-radius: 25px;
    border-style: none;
    width: 400px;
}

.search-input:focus{
    outline: 1px solid var(--color-accent)
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.small-profile-img{
    height: 40px;
}

.profile-name{
    text-decoration: none;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}

.greeting-container{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;

}
.greeting{
    font-weight: bold;
    font-size: 1rem;
    margin:0;
    align-self: flex-end;
}

.big-profile-img{
    height: 100px;
    grid-row: 1 / 3;
    align-self: center;
}

.username{
    font-weight: bold;
    font-size: 1.5rem;
    margin:0;
    white-space: nowrap;
}

.button-container{
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items:flex-end;
}

button{
    font-weight: bold;
    font-size: 13px;
    background-color: var(--color-primary);
    color: white;
    border-style: none;
    border-radius: 30px;
    padding: 10px 35px;
    cursor: pointer;
}

button:hover{
    outline: 2px solid var(--color-accent)
}

.content{
    background-color: var(--color-background);
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding-top: 15px;
}

h3{
    margin: 0;
}
.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    gap: 15px;
}

.projects-header{
    grid-column: 1 / -1;
    margin-left: 10px;
}

.annoucement-trending{
    display:grid;
    grid-template-rows: repeat(4, min-content);
    gap:15px;
}

.announcements p {
    font-size: 12px;
}
.card, .announcements, .trending{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px var(--color-shadow);
}

.announcements, .trending{
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.card{
    border-left: 7px solid var(--color-accent);

}

.annoucement-content{
    display: block;
    padding: 5px;
}

.announcement-border{
    border-top: 2px solid  var(--color-shadow)
    
}

.annoucement-content p, .annoucement-content h5{
    margin: 0;
}

.trending-content{

}

.announcements{
    border: 1px solid red;
}

.trending{
    border: 1px solid red;   
}